    .divName {
        align-items: center;
        font-family: 'Raleway';
    }

    .divName h2 {
        margin: auto;
        padding: 0;
        text-align: center;
        font-family: 'Raleway';

    }

    p {
        text-align: center;
        font-family: 'Raleway';
    }

    .DownloadLink {
        text-align: center;
        font-family: 'Raleway';
    }

    .containerMore {
        width: 1200px;
        margin: auto;
    }

    .moreDetails {
        text-align: center;
        font-family: 'Raleway';
    }
    