@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h2 {
   text-align: center;
  }

  .link {
    text-align: center;
  }

  .link a{
    text-decoration: none;
    color: rgb(88, 128, 201);
  }

.containerDetails {
    width: 800px;
    margin: auto;
    font-family: 'Raleway';
}

.datailsImg {
    margin: auto;
    width: 100%;
}

    
@media only screen and (max-width: 768px) {
  /* Adicione aqui os estilos que deseja aplicar para dispositivos de tela pequena */
  /* Por exemplo: */

  .containerDetails {
    width: 95%;
    margin: auto;
    font-family: 'Raleway';
}


  body {
    font-size: 14px;
  }
}